
/* Stylesheet content from css/main.css in folder common */
body{
	margin:0;
	padding:0;
	font-family: Verdana,'Helvetica', sans-serif;	
}

.btn {
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
}

a{
	text-decoration:none;
}

a:hover, a:focus{
	text-decoration:none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    padding: .75rem 0;
    font-size: 1.5rem;
}

#app{
	height: 100vh;
    text-align: center;
    background: #ECF2F2;
}

.header{
	position: absolute;
    top: 30%;
    width: 100%;
}

.header h1{
    font-size: 20px;
    font-weight: 500;
}

a#loadSDK {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
}
/* Stylesheet content from css/main.css in folder iphone */

/* this CSS file extends the application CSS file found under common\css */

/*Optional iOS 7 status bar filler*/
#wl_ios7bar{
	background-color: white;
	height: 15pt;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
}
body.wl_ios7{
	padding-top: 15pt;
}
